body,
div#app {
  background-color: var(--bs-light);
  height: 100vh;
}
div#app {
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

/* #region Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.font-mono {
  font-family: 'Space Mono', monospace;
}
/* #endregion */

/* #region Links */
a {
  text-decoration: none;
}
.wiki-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 1em;
}
/* #endregion */

/* #region Forms */
fieldset {
  div.row {
    div.col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
/* #endregion */
